<div class="container_big-card">

  <a href="https://ibjjf.com/" target="_blank">
    <div class="big-card_photo">
        <img src="https://images.tcdn.com.br/img/editor/up/749074/faixasdejiujitsu.jpg" alt="placeholde">
    </div>

    <div class="big-card_author">
      <p>Jânio Filho, 20/01/2023</p>
    </div>

    <div class="big-card_title">
      <h1>Graduação do BJJ agora no dia 2 de Junho</h1>
    </div>


    <div class="big-card_description">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum consequuntur sunt fuga ea voluptatibus temporibus dolor? Ea ab laboriosam facere. Distinctio laboriosam eum esse enim illum saepe dolore dolor vel!</p>
    </div>
  </a>

</div>


