.container_small-card {
  width: 80vh;
  height: 30vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.1px solid rgba(255, 255, 255, 0.048);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.small-card_description {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  margin-top: 1rem;
  margin-left: 1rem;
}

.small-card_author > p{
  margin-top: 1rem;
  font-size: 7pt;
  font-weight: bold;
  color: gray;
}

.small-card_title > h1 {
  font-size: 15pt;
  margin-top: 2rem;
}

.small-card_photo > img {
  margin-left: 1rem;
  width: 20vw;
}

