<div class="container_small-card">

  <a href="https://adcombat.com/" target="_blank">
    <div class="small-card_photo">
      <img src="https://d2779tscntxxsw.cloudfront.net/61d47adebb1e4.png?width=650&quality=80" alt="ADCC">
    </div>
  </a>

  <div class="small-card_description">
    <div class="small-card_author">
      <p>Matheus Araujo, 21/04/2023</p>
    </div>

    <a href="https://adcombat.com/" target="_blank">
      <div class="small-card_title">
        <h1>Seletivas do ADCC já estão acontecendo</h1>
      </div>
    </a>
  </div>

</div>
