<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container_article">

  <div class="articles_main">
    <app-big-card
      photoCover="https://images.tcdn.com.br/img/editor/up/749074/faixasdejiujitsu.jpg"
      author="Janio, 20/01/2023"
      description="Graduacao"
      title="Teste"></app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card
      photoCover="https://images.tcdn.com.br/img/editor/up/749074/faixasdejiujitsu.jpg"
      author="Janio. 2020.20.1"
      description="Teste"
    ></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>

</div>
